.text{
    width: 90%;
    font-family: 'Sylfaen';
}



:root{
    --animationSize: 90%;
    --animationColor: ghostwhite;
    --animation: None;
}

@keyframes grow {
    from {
        width: var(--animationSize);
    }
    to {
        background-color: var(--animationColor);
        width: 100%;
    }
}

@keyframes shrink{
    from {
        background-color:var(--animationColor);
    }
    to {
        width: 90%;
    }
}

.stack[animation='1']{
    width: var(--animationSize);
    animation:grow 2s forwards;
}

.stack[animation='0']{
    width: var(--animationSize);
}

.stack[animation='3']{
    width: var(--animationSize);
    animation: shrink 2s both;
}