.text{
    width: 90%;
    font-family: 'Sylfaen';
}



:root{
    --animationSize: 90%;
    --animationColor: rgba(235, 235, 246, 0.958);
    --animation: None;
    --transformDown: 20px;
    --tranformUp: 20px;
}

@keyframes grow {
    from {
        width: var(--animationSize);
    }
    to {
        background-color: var(--animationColor);
        width: 100%;
    }
}

@keyframes shrink{
    from {
        background-color:var(--animationColor);
    }
    to {
        width: 90%;
    }
}

.stack[animation='1']{
    width: var(--animationSize);
    animation:grow 2s forwards;
}

.stack[animation='0']{
    width: var(--animationSize);
}

.stack[animation='3']{
    width: var(--animationSize);
    animation: shrink 2s both;
}

.stack[animation='down']{
    width: var(--animationSize);
    transition-property:  transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transform: translateY(var(--transformDown));
}

.stack[animation='up']{
    width: var(--animationSize);
    transition-property:  transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transform: translateY(var(--transformUp));
}